#back-btn {
  text-decoration: none;
}

#back-char-code {
  font-size: 2em;
  color: black;
  height: 18px !important;
}

#back-text {
  line-height: 20px !important;
  font-weight: 900;
  color: black;
  top: -8px;
  position: relative;
  text-decoration: none !important;
}

#back-text:visited {
  color: black;
}

#back-text:hover {
  color: rgb(99, 99, 99);
}

.menu__text {
  display: flex;
  font-size: small;
}

.random {
  margin-left: 40px;
  font-weight: 500;
  font-size: 30px;
}

.most_popular {
  margin-left: 40px;
  font-weight: 500;
  font-size: 30px;
}

.movie__button {
  display: flex;
  margin-left: 100px;
  margin-top: 15px;
  background-color: #00b2ff;
  border: none;
  padding: 10px 40px;
  color: white;
  font-size: 14px;
  font-weight: 550;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 150px 0 rgba(0, 0, 0, 0.19);
}

.active {
  border-bottom: 4px #00b2ff solid;
}
