.movie__title {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
}

.movie__image {
  display: flex;
  width: 1000px;
  margin-left: 100px;
}

.movie__year {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 100;
}
