.thumbnail {
  max-height: 165px;
  overflow: hidden;
}

.table-card {
  display: flex;
  flex-direction: column;
  max-width: 270px !important;
}

.table-column {
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table-column .title {
  flex-direction: row;
  font-size: 32px;
  height: 70%;
  word-wrap: break-word;
}

.table-column .sub-title {
  flex-direction: row;
  font-size: 30px;
  font-weight: 200;
  height: 25%;
  justify-self: end;
  position: relative;
  bottom: 4px;
}
